/* Variables */
$background-color: #09090a
$white: #f3f2f2
$zinc-900: #18181b
$zinc-800:#27272a
$violet-900:#4c1d95
$violet-700:#6d28d9
$violet-800:#5b21b6
$violet-600:#7c3aed
$violet-500:#8b5cf6
$violet-400:#a78bfa
$violet-300:#c6b5fd
/*----------------------*/

body
  display: flex
  justify-content: center
  align-items: center
  height: 100vh

  background-color: $background-color
  color: $white


